@import "_variables.scss";

body {
    min-height: 100vh;
    background: lightblue;
    font-family: $fontMontserrat
}

@import "_header.scss";
@import "_footer.scss";



/*-----Pagina Index-----*/
@import "_styles.scss";

/*-----Pagina Titulos-----*/
@import "_titulos.scss";

/*-----Pagina Galería-----*/
@import "_galeria.scss";

/*-----Pagina Carrito-----*/
@import "_carrito.scss";

/*-----Pagina Nosotros-----*/
@import "_nosotros.scss";

/*-----Media Queries-----*/
@import"_media-queries.scss";
